extends layout

block content
    main.main-content
        h1= title
        img(src="/img/javascript.png", alt="JavaScript" class="left width-200")
        p The course Web-based framework 2, a.k.a. framework2, teaches development, testing 
            | and deployment of applications and servers where different frameworks 
            | are part of the applications and services that create a complete solution.
        a(href="https://github.com/oenstrom/") My site on GitHub
