extends layout

block content
    main.main-content
        h1= title
        img(src="/img/olof-enstrom.jpg", alt="Olof Enström", class="left")
        p I was born 1995 in Kalmar, Sweden. I grew up in Smedby, a small village outside Kalmar. I have always had a great interest in technology and have always been the one in my family to take care of the technical stuff and problems.
        p I have for a long time thought it’s fun to make websites and have by myself acquired quite a good knowledge of HTML, CSS, and basic knowledge in PHP and SQL. In high school I studied IT and media with the orientation IT. There, we learned the basics of PHP, SQL, Java, C# and a few other languages.
        p After high school, it became a two-year break. I started with a summer job at the company Otimo Data AB in Kalmar. Then, for a short period, I worked at Pizzapalatset before I went over to my dad’s shop, Smycken & Antikt. In the autumn of 2016 I then started studying Web Programming at Blekinge Institute of Technology.
