extend layout.pug

block main
    :markdown-it(linkify langPrefix="higlight-")
        # Markdown
        
        ## An other headline
        
        Markdown document with https://links.com and codeblocks.
        
        An other paragraph
        
        `var codeblock`
