extends layout

block content
    main.main-content
        h1= title
        
        h2 Kmom01
        include:markdown-it ../content/report/kmom01.md
        
        h2 Kmom02
        include:markdown-it ../content/report/kmom02.md
        
        h2 Kmom03
        include:markdown-it ../content/report/kmom03.md
        
        h2 Kmom04
        include:markdown-it ../content/report/kmom04.md
        
        h2 Kmom05
        include:markdown-it ../content/report/kmom05.md
        
        h2 Kmom06
        include:markdown-it ../content/report/kmom06.md
        
        h2 Kmom10
        include:markdown-it ../content/report/kmom10.md
